body {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: inherit;
}

* {
  box-sizing: border-box;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
}

em {
  font-weight: bold;
  font-style: normal;
}

html, #root, body, .App {
  height: 100%;
}

body {
  background-color: #FFCC70;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 48px;
  }
}

main {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px
} 

@media (min-width: 1200px) {
  main {  
    width: 90%;
    gap: 32px;
  } 
}

#instructions {
  font-size: 16px;
}

#phoneNumberDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media (min-width: 1200px) {
  #phoneNumberDisplay {
    flex-direction: row;
    align-items: stretch;
  }
  
}

svg {
  width: 100%;
  height: 60vh;
  background-color: #FFFADD;
}

@media (min-width: 1200px) {
  svg {
    width: 50%;
    height: 60vh;
  }
}


.clicked.region {
  stroke: #22668D;
  fill: #8ECDDD;
}

.region_label {
  font-size: 16px;
  fill: white;
  pointer-events: none;
  user-select: none;
}

#phoneNumberTable {
  width: 100%;
  height: 40vh;
  background-color: #FFFADD;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  #phoneNumberTable {
    width: 50%;
    height: 60vh;
  }
}

.phoneNumber {
  font-size: 16px;
  padding: 8px;
  margin: 1px 0;
  border: #22668D solid;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 16px 8px;
  font-size: 10px;
}
